    /* font-style */
    
    body {
        font-family: 'Poppins', sans-serif;
        background-color: #F3F1FF;
    }
    
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .container {
        background-color: #FFFFFF;
        width: 880px;
        padding: 30px;
        margin-top: 21px;
    }
    /* top-players style */
    
    .section-style {
        padding-left: 8px;
        font-size: 30px;
        color: rgb(15, 138, 238);
    }
    
    .palyers {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .player {
        display: flex;
        align-items: center;
        padding-bottom: 10px;
    }
    
    .player img {
        width: 56px;
        height: 56px;
    }
    
    .top-text {
        padding-left: 16px;
        padding-top: 3px;
    }
    
    hr {
        border: 1px solid gray;
        margin-top: 20px;
    }
    /* top-loges style */
    
    .blogs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 26px;
    }
    
    .blog {
        display: flex;
    }
    
    .thuumbanail img {
        width: 177px;
        height: 117px;
    }
    
    .blog-titel {
        margin-left: 10px;
    }
    
    .blog-text1 {
        color: black;
        font-size: 20px;
        margin-bottom: 0px;
    }
    
    .blog-text2 {
        color: gray;
        margin-top: 0;
    }
    
    .blog-text2 a {
        text-decoration: none;
    }
    /* coures style */
    
    .main-course {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 55px;
    }
    
    .courses {
        width: 224px;
        height: 300px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px gray;
    }
    
    .rating {
        display: flex;
        align-items: center;
    }
    
    .course-banner img {
        width: 224px;
        height: 104px;
    }
    
    .course-style2 {
        color: rgb(247, 111, 111);
    }
    
    .fa-star.style {
        color: #f7b50f;
        font-size: 16px;
    }
    
    .fa-star {
        color: gray;
        font-size: 16px;
    }
    
    .time {
        background-color: pink;
        border-radius: 10px;
        color: rgb(247, 111, 111);
        width: 90px;
        text-align: center;
        height: 25px;
        margin-left: 10px;
    }
    
    .rating p {
        margin-left: 10px;
    }
    /*--------- media queries -------------*/
    /* mobile devices */
    
    @media only screen and (max-width:688px) {
        .container {
            width: 100%;
        }
        .palyers,
        .blogs,
        .main-course {
            grid-template-columns: repeat(1, 1fr);
        }
        .container {
            flex-direction: column;
            align-items: center;
        }
    }
    /* mobile devices end*/
    /* tablet devices */
    
    @media only screen and (min-width:688px)and (max-width:992px) {
        .container {
            width: 100%;
        }
        .palyers,
        .blogs,
        .main-course {
            grid-template-columns: 1fr 1fr;
        }
        .container {
            flex-direction: column;
            align-items: center;
        }
    }
    /* tablet devices end*/